@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	font-family: "Noto Sans JP", sans-serif;
}

header.container {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}

.feature-icon {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	display: block;
}
